[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
